<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE web-app PUBLIC "//UNKNOWN/" "unknown.dtd">
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>MyJSP</servlet-name>
    <jsp-file>/categorie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP</servlet-name>
    <url-pattern>/category.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP2</servlet-name>
    <jsp-file>/chiSiamo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP2</servlet-name>
    <url-pattern>/whoare.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP3</servlet-name>
    <jsp-file>/pagamenti.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP3</servlet-name>
    <url-pattern>/payments.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP4</servlet-name>
    <jsp-file>/spedizioni.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP4</servlet-name>
    <url-pattern>/shipping.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP5</servlet-name>
    <jsp-file>/assistenza.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP5</servlet-name>
    <url-pattern>/assistence.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP6</servlet-name>
    <jsp-file>/registrazione.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP6</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP7</servlet-name>
    <jsp-file>/carrello.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP7</servlet-name>
    <url-pattern>/carrello.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyJSP8</servlet-name>
    <jsp-file>/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyJSP8</servlet-name>
    <url-pattern>/error.html</url-pattern>
  </servlet-mapping>
</web-app>